html {
  text-align: center;
}

body {
  background-image: url(background.png);
  background-size: cover;
  background-position: fixed;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 96px;
  /* identical to box height */
  color: #920000;
  -webkit-text-stroke: 1px #e3d8d8;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

#my-form {
  width: 80%;
  display: flex;
}

p {
  color: antiquewhite;
}
div:nth-child(odd) {
  background-color: darkgoldenrod;
}
div:nth-child(even) {
  background-color: #920000;
}

input {
  padding: 8px 4px;
  border-radius: 16px;
}

#text-input {
  width: 10%;
  background-color: rgb(115, 255, 0);
}

#description-input {
  background-color: blue;
  width: 50%;
}

button {
  padding: 8px 4px;
  border-radius: 4px;
}

#pizza-list {
  width: 80%;
}
